body{
  margin: 0px;
  padding: 10px;
}
a{
  color:black;
  text-decoration: none;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 15px;
}
#grid ol{

  width: 100px;
  margin: 0;
  padding: 33px;
  padding-top: 10px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid #article{
  padding-left: 40px;
  padding-right: 20px;
}
@media (max-width:800px){
  #grid{
    display: block;
  }
  #grid ol{
    border-right: None;

  }
  h1{
    border-bottom: none;
  }
}

.darkmode{
  padding: 10px;
  text-align: center;
}

.left{
  border-right: 1px solid gray;
}
